[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyroomacoustics = "*"
matplotlib = "*"
pyyaml = "*"
pytest = "*"
scipy = "*"
pygame = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.13"
